.city {
  border-radius: 2rem;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.cityImage {
  width: 100%;
  height: auto;
  filter: opacity(70%) blur(1px);
  transition: transform 1.4s;
}

.city:hover .cityImage {
  transform: scale(1.12);
}

.cityInfo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  color: white;
  text-align: center;
  z-index: 5;
}

.cityInfoTemp {
  font: 4.5rem 'DM Sans', Arial, sans-serif;
  line-height: 1;
}

.cityInfoName {
  font-size: 2.5rem;
  letter-spacing: 2px;
}
