.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 65rem;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.row {
  width: 100%;
  display: flex;
  /* flex-wrap: wrap; */
  align-items: flex-start;
  column-gap: 1.5rem;
}

.column {
  display: flex;
  flex-direction: column;
}

.image__container {
  max-width: 30rem;
}

.imageContainer img {
  width: 100%;
  height: auto;
}

.textContainer {
  display: flex;
  justify-content: center;
  padding: 0 4rem;
}

.btnClose {
  position: absolute;
  top: 0.75rem;
  right: 1.25rem;
  font-size: 3.125rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}
