* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font: 1rem 'Manrope', Arial, sans-serif;
  line-height: 1.5;
  color: #333;
  background-color: #121212;
}
